header, footer{
    padding: 2em 1em;
    color: antiquewhite;
    background-color: black;
}
main{
    min-height: 264px;
}

nav li{
    display: inline;
    border: solid 1px;
    padding: 2px;
}
a{
    color: orangered;
}